.navbar-container {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10%;
  background-image: linear-gradient(to right, var(--mySecondary) -10%, var(--myBackground) 10%, var(--myBackground) 90%, var(--mySecondary) 110%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.drone-icon{
  width: 60px;
  cursor: pointer;
}

.navbar-group {
  display: flex;
  flex-direction: row;
}

.navbar-left {
  text-align: left;
}

.navbar-mid {
  text-align: center;
}

.navbar-right {
  text-align: right;
}

.navbar-item {
  margin: 0% 5%;
}

.mobile-navbar-item {
  margin: 10px 0;
}

.animated-link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.animated-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--myPrimary);
  transition: width 0.3s ease-in-out;
}

.animated-link:hover::after {
  width: 100%;
}

.animated-link:hover {
  color: white;
}

.mobile-only {
  display: none;
}

/* Mobile menu */
.mobile-navbar-group {
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 0 10%;
  background-color: var(--mySecondary);
  color: white;
  display: none;
  flex-direction: column;
  text-align: right;
  z-index: 9;
  box-sizing: border-box;
}

.show {
  display: flex;
  opacity: 1;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
}
